<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			autoReload="true"
			throwExceptions="false"
			internalLogLevel="Off"
			internalLogFile="logs/internal-nlog.txt">
  
	<variable name="logStamp" value="${time} ${pad:padding=-8:inner=[${level:uppercase=true}]}" />
  <variable name="logContent" value="${message} ${exception:format=ToString}"/>
  
	<targets async="true">
    <target xsi:type="File" name="keen" layout="${var:logStamp} ${logger}: ${var:logContent}" fileName="Logs\Keen-${shortdate}.log" />
    <target name="file" xsi:type="File" layout="${var:logStamp} ${logger}: ${var:logContent}" fileName="Logs\ignite-${shortdate}.log" />
	</targets>
  
  
	<rules>
    <!--Still need to clean this up a bit-->
    <logger name="Keen" minlevel="Debug" writeTo="keen" final="true" />
    <logger name="Keen" minlevel="Info" writeTo="console"/>
    
    <logger name="*" minlevel="Info" writeTo="console,file" />
	</rules>
  
  
</nlog>