<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			autoReload="true"
			throwExceptions="false"
			internalLogLevel="Off"
			internalLogFile="logs/internal-nlog.txt">
  
	<variable name="logStamp" value="${time} ${pad:padding=-8:inner=[${level:uppercase=true}]}" />
  <variable name="logContent" value="${message} ${exception:format=ToString}"/>

  <targets async="true">
    <target xsi:type="ColoredConsole" name="ColoredConsole"  layout="${var:logStamp} ${logger}: ${var:logContent}" />
    <target xsi:type="File" name="keen" layout="${var:logStamp} ${logger}: ${var:logContent}" fileName="Logs\Keen-${shortdate}.log" />
    <target xsi:type="File" name="file" layout="${var:logStamp} ${logger}: ${var:logContent}" fileName="Logs\ignite-${shortdate}.log" />
  </targets>


  <rules>
    <!-- Keen: Debug-only to file -->
    <logger name="Keen" minlevel="Debug" maxlevel="Debug" writeTo="keen" />

    <!-- Keen: Info+ to file and console -->
    <logger name="Keen" minlevel="Info" writeTo="keen,ColoredConsole" final="true" />

    <!-- Everything else -->
    <logger name="*" minlevel="Info" writeTo="ColoredConsole,file" />
  </rules>
  
</nlog>