<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			autoReload="true"
			throwExceptions="false"
			internalLogLevel="Off"
			internalLogFile="logs/internal-nlog.txt">
	<variable name="logStamp" value="${time} ${pad:padding=-8:inner=[${level:uppercase=true}]}" />

	<targets>

		<target name="file" xsi:type="File"
						fileName="logs/ignite-${shortdate}.log"
						layout="${var:logStamp} ${message} ${exception:format=ToString}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="console,file" />
	</rules>
</nlog>